{% extends "base.html.twig" %}

{% block title %}Delete Recipe{% endblock %}

{% block body %}
    <h1>Delete Recipe</h1>

    <p>Are you sure you want to delete this recipe?</p>

    <form method="POST">
        <a href="{{ path('recipe_show', { id }) }}">Cancel</a>
        <input type="submit" value="Delete">
    </form>
{% endblock %}