{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="display-4 mb-3">🍔 Recipe Website</h1>
                    <p class="lead mb-0">Browse for <a href="{{ path('recipe_index') }}">recipes</a>, or create your own!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
